version: "3.8"

services:
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    volumes:
      - ../../monitoring/tempo.yml:/etc/otel/config.yml
    ports:
      - "3200:3200"
    command:
      - "--config.file=/etc/otel/config.yml"
